.navbar {
    background: #1a1f25;
}

a, a:hover, a:active {
    color: #ea4d1a;
}

.logo-version {
    margin-top: 21px;
    font-size: 1.6em;
    float: right;
    text-decoration: none;
}

#content .row {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#content .row > div {
    text-align: center;
    background-color: #fff;
    padding: 25px 0;
}

#content .row > div > span {
    display: inline-block;
    border-radius: 100%;
    background-color: #3c79b2;
    width: 75px;
    height: 75px;
    padding: 12px;
    margin-right: 15px;
}

#content .row > div > h4 {
    margin-top: 5px;
    display: inline-table;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.feature a {
    text-decoration: none;
}

.feature h2 {
    font-size: 24px;
    color: #ee6c21;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.feature:hover h2 {
    color: #000;
}

.icon-container {
    display: table;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.feature .icon-container {
    border: 3px solid #ee6c21;
    color: #ee6c21;
}

.feature:hover .icon-container {
    border-color: #ee6c21;
    background-color: #ee6c21;
    color: #000;
}

.icon-container .icon {
    font-size: 48px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}